body {
    font-family: Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
  }

button {
    cursor: pointer;
    padding: 8px 16px;
    border-radius: 8px;
  }

button.herosignup {
    background: royalblue;
    border: 1px solid royalblue;
    color: white;
    font-weight: bold;
    width: fit-content;
}

.header {
    background: #1F2937;
    display: flex;
    justify-content: space-between;
    padding: 8px 200px;
    flex-wrap: wrap;
    gap: 10px;
    border-bottom: 1px solid lightgrey;
  }

.header a {
    font-size: 18px;
    color: #E5E7EB;
    text-decoration: none;
  }

.logo {
    font-size: 24px;
    color: #F9FAF8;
  }

ul {
    display: flex;
    margin: 0;
    padding: 0;
    gap: 40px;
    list-style-type: none;
  }
  
.headerleft, .headerright {
    display: flex;
    align-items: center;
    gap: 16px;
  }

.herosection {
    display: flex;
    padding: 100px 200px;
    background: #1F2937;
    gap: 40px;
    justify-content: center;
    flex-wrap: wrap;
  }

.heroleft, .heroright {
    width: 45%;
    min-width: 550px;
  }

.heroleft {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 10px;
  }

.heromaintext {
    font-size: 48px;
    font-weight: extra-bold;
    color: #F9FAF8;
}

.herosecondarytext {
    font-size: 18px;
    color: #E5E7EB;
}

.heroright img {
    max-width: 100%;
    border-radius: 8px;
  }

.informationsection {
    text-align: center;
    padding: 60px 0px;
}

.informationsection img {
    width: 200px;
    height: 270px;
    border-radius: 8px;
    margin-bottom: 10px;
    border: 3px solid #1F2937;
}

.infotitle {
    margin-bottom: 40px;
    font-size: 36px;
    font-weight: 900;
  }

.infocontainer {
    display: flex;
    justify-content: center;
    gap: 52px;
    flex-wrap: wrap;
  }
  
.info {
    max-width: 200px;
  }