body {
    font-family: Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
  }

button {
    cursor: pointer;
    padding: 8px 16px;
    border-radius: 8px;
  }

button.herosignup {
    background: #C1121C;
    border: 1px solid #C1121C;
    width: fit-content;
}

.herosignup a {
    color: white;
    font-weight: bold;
    text-decoration: none;
}

.header {
    background: #333;
    border-bottom: 1px solid #C1121C;
  }

.headercontent {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.header a {
    font-size: 18px;
    color: #E5E7EB;
    text-decoration: none;
  }

.logo {
    font-size: 24px;
    color: #F9FAF8;
  }

ul {
    display: flex;
    margin: 0;
    padding: 0;
    gap: 40px;
    list-style-type: none;
  }
  
.headerleft, .headerright {
    display: flex;
    align-items: center;
    margin: 10px 40px;
    text-align: center;
  }

.herosection {
    display: flex;
    padding: 100px 200px;
    background: #54585a;
    gap: 40px;
    justify-content: center;
    flex-wrap: wrap;
  }

.heroleft, .heroright {
    width: 45%;
    min-width: 550px;
  }

.heroleft {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 10px;
  }

.heromaintext {
    font-size: 48px;
    font-weight: extra-bold;
    color: #F9FAF8;
}

.herosecondarytext {
    font-size: 18px;
    color: #E5E7EB;
}

.heroright img {
    max-width: 100%;
    border-radius: 8px;
  }

.informationsection {
    text-align: center;
    padding: 60px 0px;
}

.informationsection img {
    width: 200px;
    height: 270px;
    border-radius: 8px;
    margin-bottom: 10px;
    border: 3px solid #54585a;
}

.infotitle {
    margin-bottom: 40px;
    font-size: 36px;
    font-weight: 900;
  }

.infocontainer {
    display: flex;
    justify-content: center;
    gap: 52px;
    flex-wrap: wrap;
  }
  
.info {
    max-width: 200px;
  }

.quotesection {
    background-color: #E5E7EB;
    padding: 100px 0px;
    display: flex;
    justify-content: center;
  }

.quotecontent {
    max-width: 800px;
    padding: 0px 40px;
  }

.quote {
    font-size: 36px;
    font-weight: lighter;
    font-style: italic;
    color: #54585a;
  }

.quoteattribution {
    display: flex;
    justify-content: right;
    font-weight: bold;
}

.ctasection {
    display: flex;
    justify-content: center;
    align-items: center;
  }

.ctamodal {
    background-color: #707372;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 60px;
    border-radius: 8px;
    margin: 80px 20px
  }

.ctaleft {
    display: flex;
    flex-direction: column;
    max-width: 60%;
    gap: 10px;
  }

.ctalefttitle {
    font-size: 24px;
    color: #F9FAF8;
  }

.ctalefttext {
    color: #F9FAF8;
  }

button.ctaright {
    background: #C1121C;
    border: 1px solid #C1121C;
    width: fit-content;
  }

.ctaright a {
    font-size: 18px;
    color: white;
    font-weight: bold;
    text-decoration: none;
  }

.footer {
    background-color: #333;
    color: #F9FAF8;
    text-align: center;
    padding: 40px;
}