body {
    font-family: Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    min-width: 1280px;
  }

button {
    cursor: pointer;
    padding: 8px 16px;
    border-radius: 8px;
  }

button.herosignup {
    background: royalblue;
    border: 1px solid royalblue;
    color: white;
    font-weight: bold;
    width: fit-content;
}

.header {
    background: #1F2937;
    display: flex;
    justify-content: space-between;
    padding: 8px 200px;
  }

.header a {
    font-size: 18px;
    color: #E5E7EB;
    text-decoration: none;
  }

.logo {
    font-size: 24px;
    color: #F9FAF8;
  }

ul {
    display: flex;
    margin: 0;
    padding: 0;
    gap: 40px;
    list-style-type: none;
  }
  
.headerleft, .headerright {
    display: flex;
    align-items: center;
    gap: 16px;
  }

.herosection {
    display: flex;
    padding: 100px 200px;
    background: #1F2937;
    gap: 40px;
  }

.heroleft, .heroright {
    width: 50%;
  }

.heroleft {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

.heromaintext {
    font-size: 48px;
    font-weight: extra-bold;
    color: #F9FAF8;
}

.herosecondarytext {
    font-size: 18px;
    color: #E5E7EB;
}

.heroright img {
    max-width: 100%;
  }

